/*--------------------------------*\
    Base
\*--------------------------------*/

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body .cv {
    min-height: 93%;
}

ul {
    list-style: none;
}

img.bg-img-ynov {

    width: 100%;
    height: auto;

    top: 0;
    left: 0;
    position: fixed;
    z-index: -100;

    -webkit-filter: brightness(30%);
    filter: brightness(30%);
}

/*--------------------------------*\
    Layout    (Positionnement)
\*--------------------------------*/

.admin-access {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.admin-access a {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: none;
}

/** INDEX CV **/

.l-header-cv {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
}

.l-header-cv h1 {
    text-align: center;
}

.l-header-cv .subtitle {
    display: block;
    margin: auto;
    text-align: center;
}

.l-header-cv .nav-header {
    margin-top: 50px;
}

.l-header-cv .nav-header ul {
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.l-header-cv .nav-header ul li {
    margin-bottom: 15px;
}

/** MENU CV **/

.l-menu-cv {
    background-color: rgba(20, 20, 20, 0.9);
    max-height: 68px;
}

.l-menu-cv .navbar-collapse .navbar-nav {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 100px;
}

.l-menu-title {
    margin-left: 10px;
}

.l-h1-menu {
    float: right;
    margin-bottom: 0px;
}

.l-h1-menu span {
    margin-left: 15px;
    display: block;
}

@media (min-width: 768px) and (max-width: 1100px) {
    .l-menu-title h1 {
        display: none;
    }

    .l-menu-content .navbar-nav {
        position: relative;
        left: 0px;
    }
}

@media (max-width: 767px) {
    .l-menu-content .navbar-nav {
        left: 0;
    }
}

/** PAGES COMMUNES CV **/

.l-page-cv {
    overflow: auto;
}

.l-page-cv-title {
    text-align: center;
    margin-top: 120px;
}

.l-page-cv-content {
    margin-top: 50px;
    padding: 25px;
}

/** INTRO CV **/

.l-intro {
}

.l-intro-title {
}

.l-intro-content {
}

/** REALISATIONS CV **/

.l-projets {
}

.l-realisations-title {
}

.l-realisations-content {
}

/** EXPERIENCES CV **/

.l-experiences-title {
}

.l-experiences-content {
    padding-top: 40px;
}

/** COMPETENCES CV **/

.l-competences-title {
}

.l-competences-content {
    padding-top: 40px;
}

/** FOOTER CV **/

.l-footer-cv {
    text-align: center;
    padding-top: 20px;
}

/** LOGIN **/

.login {
    margin-top: 80px;
}

.login-header {
    text-align: center;
}

@media (max-width: 767px) {
    .login-header img {
        width: 200px;
        height: 200px;
    }
}

.login-remember {
    text-align: center;
}

.login-btn {
    text-align: center;
}


/*--------------------------------*\
    Module    (Le Style)
\*--------------------------------*/

.skin-black .sidebar-menu > li > .treeview-menu {
    background: #222D32;
}

/** INDEX CV **/

.cv {
    font-family: 'Poppins', sans-serif;
}

.header-cv {
    color: white;
}

.header-cv h1 {
    font-size: 70px;
    font-weight: 600;
}

.header-cv .nav-header ul li a {
    color: white;
}

.header-cv .nav-header ul li:hover {
    cursor: pointer;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    background: rgba(100, 100, 100, 0.5);
}

/** MENU CV **/

.l-h1-menu {
    font-size: 21px;
}

/** PAGES COMMUNES CV **/

.page-cv-title {
    color: white;
    font-size: 45px;
}

.page-cv-content {
    background: rgba(20, 20, 20, 0.7);
}

/** INTRO CV **/

.intro-title {
}

.intro-content {
    color: white;
    font-size: 18px;
    text-align: justify;
}

/** REALISATIONS CV **/

.realisations-title {
}

.realisations-content {
    position: relative;
    z-index: 20;
}

.realisation {
    text-align: center;
    color: white;
    height: 226px;
    margin-bottom: 20px;
}

.realisation a {
    z-index: 100;
    text-decoration: none;
    color: white;
}

.realisation-content {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.realisation img {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid #E0E0E0;
    position: relative;
    z-index: -8;
    float: left;
}

.realisation-back {
    display: none;
    height: 200px;
}

.realisation-back-screen {
    float: left;
    width: 200px;
    height: 200px;
    background-color: #212121;
    opacity: 0.8;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.realisation-back-content {
    float: left;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 15;
}

.realisation-back-content p {
    font-size: 13px;
}

.realisation-back-content > * {
    clear: both;
}

.realisation h6 {
    padding-top: 50px;
    font-weight: 500;
}

.realisation-back-content p {
    font-weight: 300;
}

/** EXPERIENCES CV **/

.experiences-title {

}

.experiences-content {
    background-color: white;
    background-color: rgb(240,240,240);
}

.experience {
    margin-bottom: 15px;
}

.experience span.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 300px;
}

.experience p:nth-child(-n+4) {
    line-height: 5px;
}

.exp-entreprise {
    font-weight: bold;
    font-size: 17px;
}

.exp-ville {
    font-size: 15px;
    color: grey;
    margin-left: 5px;
}

.exp-type_date {
    font-style: italic;
    font-size: 14px;
    line-height: 8px;
}

.exp-date {
}

/** COMPETENCES CV **/

.competences-title{}

.competences-content{}

.competence {
    text-align: center;
    color: lightgrey;
}

.competence img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.competence img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/** FORMATIONS CV **/
.formations-title {}

.formations-content {
    margin-top: 50px;
}

.formation {
    color: black;
    width:100%;
    height: 100%;
    margin-bottom: 20px;
}

.formation-date {
    float: left;
    font-size: 30px;
}

.formation-date span {
    display: block;
    color: white;
}

.formation-date .hr-date {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    padding: 0;
    width: 60px;
}

.formation-content {
    float: left;
    background-color: rgba(240,240,240,0.8);
   /* background-color: rgb(240,240,240);*/
    padding: 20px;
}

.formation-content > * {
    clear: both;
}

.formation-intitule {
    color: black;
    color: #0076F5;
    font-weight: bold;
    font-size: 20px;
}

.formation-intitule:hover {
    text-decoration: none;
}

.formation-lieu {
    font-size: 15px;
}

.formation-ville{
    font-style: italic;
}

/** FOOTER CV **/

.footer-cv {
    color: white;
}


/** LOGIN **/

/** ADMIN **/

.navbar-static-top {
    max-height: 50px;
}

.navbar-custom-menu {
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: #222D32;
    color: white;
}

.navbar-custom-menu a {
    color: white;
}

.navbar-custom-menu .admin-menu-link {
    display: inline-block;
    width: 72px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    color: white;
}

.vr-link {
    position: relative;
    left: 76px;
    top: 7px;
    border-right: 1px solid rgba(120,120,120,0.3);
    height: 35px;
    width: 0px;
    float: left;
}






/*--------------------------------*\
    State
\*--------------------------------*/

.is-active {

}


.label-hide {
    display: none;
}















