{% extends "CVBundle::layout.html.twig" %}


{% block cv_main %}

    {{ include("CVBundle:CV:menu.html.twig") }}

    <div id="competences" class="main l-page-cv l-compectences competences container">

        <h2 class="col-md-6 offset-md-3 l-page-cv-title page-cv-title l-competences-title competences-title">Compétences</h2>

        <div class="row l-competences-content competences-content l-page-cv-content page-cv-content">

            {% if competences is not empty %}

                {% for competence in competences %}
                    <div class="competence col-sm-6 col-md-4 col-lg-3">
                        <img src="{{ asset(competence.imagePath) }}" alt="img" width="150">
                        <p>{{ competence.intitule }}</p>
                    </div>
                {% endfor %}

            {% else %}
                <p class="text-white">[Aucun Contenu pour le moment]</p>
            {% endif %}

        </div>
    </div>

{% endblock %}