{% extends "CVBundle::layout.html.twig" %}



{% block cv_main %}

    {{ include("CVBundle:CV:menu.html.twig") }}

    <div id="intro" class="main l-page-cv l-intro container-fluid">

        <h2 class="col-md-6 offset-md-3 l-page-cv-title page-cv-title l-intro-title intro-title">A Propos</h2>

        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 l-page-cv-content page-cv-content l-intro-content intro-content">
            {{ content }}
        </div>
    </div>

{% endblock %}