{% extends "::layout.html.twig" %}


{% block body %}

    <div class="cv">

        <img class="bg-img-ynov" src="{{ asset('assets/images/Hall-Ynov.jpg') }}" alt="background Hall Ynov">

        {% block cv_main %}






        {% endblock %}

    </div>



{% endblock %}