{% extends "::layout.html.twig" %}


{% block body %}

    <div class="cv">

        <img class="bg-img-ynov" src="{{ asset('assets/images/Hall-Ynov.jpg') }}" alt="background Hall Ynov">

        {% block cv_main %}






        {% endblock %}

    </div>


    <footer class="l-footer-cv footer-cv">© 2017 | Tous droits réservés - Guillaume HANOTEL</footer>

{% endblock %}