{% extends "::layout.html.twig" %}


{% block body %}

    <header>
        <h1>GUILLAUME HANOTEL</h1>
        <span class="subtitle">Intro Titre</span>
    </header>

    <nav>
        <ul>
            <li>INTRO</li>
            <li>PROJETS</li>
            <li>EXPERIENCES</li>
            <li>COMPETENCES</li>
            <li>FORMATION</li>
            <li>BLOG</li>
            <li>CONTACT</li>
        </ul>
    </nav>

    {% block cv_main %}





    {% endblock %}

{% endblock %}