{% extends "::layout.html.twig" %}

{% block title %}
    Blog - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="blog">

        <h1><a href="{{ path('blog_home') }}">Blog</a></h1>

        {% block blog_main %}





        {% endblock %}

    </div>

{% endblock %}