{% extends "::layout.html.twig" %}

{% block title %}
    Blog - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="blog">

       <img class="bg-img-texture" src="{{ asset('assets/images/texture.png') }}" alt="background texture blog">

        {% block blog_main %}





        {% endblock %}

    </div>

    <footer class="l-footer-cv footer-cv">© {{ "now"|date("Y") }} | Tous droits réservés - Guillaume HANOTEL</footer>


{% endblock %}